workflows/SMuYVlQVz3I1Wq2O.json
{
  "active": false,
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Scrape A Url And Get Its Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Scrape A Url And Get Its Content": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-03T17:02:26.967Z",
  "id": "SMuYVlQVz3I1Wq2O",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "news email",
  "nodes": [
    {
      "parameters": {
        "url": "https://hnrss.org/newest?points=10",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        64,
        -144
      ],
      "id": "ce4ebf98-4fa4-41d5-90ad-d3d551ca3504",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        -144
      ],
      "id": "9430b877-c059-4a05-aeae-4f38ff3cfb7e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.join(\"\\n\\n\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ],
      "id": "0e6addfe-02b9-4da5-a13b-53e93c1e2522",
      "name": "Markdown"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -144
      ],
      "id": "e6bb0440-d48c-41c1-bbbd-7b7d072492d7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "mokecome@gmail.com",
        "subject": "news",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        -144
      ],
      "id": "b23266a9-abaf-48c7-bc67-5cac4b2c28c9",
      "name": "Send a message",
      "webhookId": "91c6c4b2-22e7-47e2-8ffd-8efb4e7d808b",
      "credentials": {
        "gmailOAuth2": {
          "id": "HthjQu6DfBTUTPM9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        288,
        -144
      ],
      "id": "d755cca3-07e3-4715-99e2-95cb6f78c060",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "你是一個新聞助手,我需要你把從網站上爬取的數據,整理成新聞簡報。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        736,
        -144
      ],
      "id": "1986f752-b2b7-4133-8c65-bea276a90a4e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "phi4-mini:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        736,
        80
      ],
      "id": "d2a1d0b3-6f65-45c9-97dd-1cafdefb97a5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0rTUJjnulMhnz3HZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Scrape A Url And Get Its Content",
        "url": "={{ $json.link }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        496,
        -144
      ],
      "id": "19398635-c5f6-4ced-bdbe-3c5c109b8664",
      "name": "Scrape A Url And Get Its Content",
      "credentials": {
        "fireCrawlApi": {
          "id": "04PtQgsKLe2w78zg",
          "name": "FireCrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-09T04:17:59.000Z",
  "versionId": "899785cd-7bc8-4011-ab63-eeb34571ef30"
}